.mobile{
	display: none;
	position: relative;
	margin: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	min-width: 320px;
	
	@media (max-width: 1024px){
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.mobile-title{
		position: absolute;
		height: 80%;
		width: 100%;
		overflow: hidden;
		background: url("../img/quotes.png") no-repeat center center;
		background-size: contain;
	}

	.logo{
		position: absolute;
		background-color: black;
		left: 0;
		top: 0;
		padding: 2.5%;
		width: 20%;
		z-index: 9999999;
	}

	.mobile-body{
		position: absolute;
		top: 0;
		background-color: black;
		color: white;
		opacity: 1;
		top: 70%;
		width: 100%;
		
		h2{
			padding: 0 5%;
			text-align: center;
			font-size: 1em;
		}
		ul{
			text-align: center;
			padding: 0;
			li{
				margin-bottom: 150px;
				h1{
					font-size: 4em;
					margin: 0;
					padding: 0;
					@media (max-width: 568px){
						font-size: 2em;
					}
				}
				p{
					padding: 0 5%;
					font-size: 1.5em;
					line-height: 1.7;
					-webkit-font-smoothing: antialiased;
					a{
						text-decoration: underline;
						color: white;
					}
					@media (max-width: 568px){
						font-size: 0.9em;
						line-height: 1.5;
					}
				}
				&:first-child{
					margin-top: 80px;
				}
			}
		}


		.button-group{
			box-sizing: border-box;
			margin-left: 70%;
			width: 30%;
			margin-bottom: 30%;
			@media screen and (max-width: 1080px), screen and (max-device-width: 1080px){
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: 50%;
			}


			
			.button{
				-webkit-font-smoothing: antialiased;
				background-color: white;
				border-radius: 0;
				color: black;
				margin: 0;
				margin-right: 5px;
				width: 35px;
				height: 35px;
				padding: 0;
				display: inline-block;
				line-height: 35px;
				@include smallboxy();
				@include vendorize(transition, all .1s linear);
				&:active{
					@include vendorize(transform, translate(5px,5px));
					@include vendorize(box-shadow, none);
				}
				a{
					text-decoration: none;
					color: black;
					line-height: 35px;
					padding: 0;
					vertical-align: middle;
					font-size: 20px;
				}
			}
		}
	}
}