.video-wrapper{
	display: block;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 20%;
	width: 80%;
	height: 100%;
}


.video{
	opacity: 1;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 0;
	width: 100%;
	z-index: 1;
	transition: all .5s ease;
	iframe, object, embed{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}
}