@font-face {
  font-family: 'clan_pronarrow_ultra';
  src: url("clanpro-narrultra-webfont.eot");
  src: url("clanpro-narrultra-webfont.eot?#iefix") format("embedded-opentype"), url("clanpro-narrultra-webfont.woff2") format("woff2"), url("clanpro-narrultra-webfont.woff") format("woff"), url("clanpro-narrultra-webfont.ttf") format("truetype"), url("clanpro-narrultra-webfont.svg#clan_pronarrow_ultra") format("svg");
  font-weight: bold;
  font-style: normal; }
