//- Container

.frame(du-scroll-container, style="background: black")

	header
		img(class="logo", ng-src="img/logo.png", ng-click="reload()")
		//- Work on caching images ahead of time
		ul
			li(ng-repeat="quote in body.individualQuote", 
				hover-pic, 
				img="{{quote.fields.artistImage.fields.file.url}}",
				ng-click="launchVid(quote)",
				id="{{quote.sys.id}}")
				//- span(class="fa fa-caret-right")
				span(class="name", ng-bind-html="trust(quote.fields.titleName)")
		
		.link-box
			a(href="http://www.redbullmusicacademy.jp/jp/events/", target="self", class="header-link") Event Calendar
		.link-box
			a(href="http://www.redbullmusicacademy.jp/jp/home", target="self", class="header-link") REDBULLMUSICACADEMY.JP

		.button-group
				
			.button
				a(href="https://twitter.com/share?url=http://www.redbullmusicacademy.jp/features/tokyo&text=世界を旅する音楽学校がついに日本へ。 あなたの創造（クリエイション）の根源にあるものとは?&hashtags=RBMATOKYO", target="blank")
					span(class="fa fa-twitter")

					
			.button
				a(href="https://www.facebook.com/sharer/sharer.php?u=http://www.redbullmusicacademy.jp/features/tokyo", target="blank")
					span(class="fa fa-facebook")




				

	

	.image-wrapper

		div(ng-if="webglenabled")
			div(class="threed", id="threed", scene)
		
		
		div(ng-if="!webglenabled")
			div(class="threed no-gl")
				img(src="img/quotes.png")
		

		h1 {{body.body}}
	




	.video-wrapper(class="dontshow")
		div(class="video")
			youtube-video(id="main-vid", video-id="current.fields.youtubeId", player-vars="playerVars")

	



	

	.info(class="fade", ng-show="showInfo")
		span(class="fa fa-times", ng-click="closeInfo()")
		h1(ng-bind-html="trust(titleName)")
		div(class="info-body", ng-bind-html="trust(artistText)")


	




	.mobile
		img(class="logo", src="img/logo.png")
		.mobile-title
			
		
		.mobile-body
			h2 {{body.body}}

			ul
				li(ng-repeat="quote in body.individualQuote")
					h1(ng-bind-html="trust(quote.fields.titleName)")
					div(lazy, class="lazyYT", videoid="{{quote.fields.youtubeId}}", data-parameters="controls=0&modestbranding=1", data-ratio="4:3") loading...
					div(ng-bind-html="trust(quote.fields.artistText)")

			.link-box
				a(href="http://www.redbullmusicacademy.jp/jp/events/", target="self", class="header-link") Event Calendar
			.link-box
				a(href="http://www.redbullmusicacademy.jp/jp/home", target="self", class="header-link") REDBULLMUSICACADEMY.JP
				
			.button-group
					
				.button
					a(class="fa fa-twitter", href="https://twitter.com/share?url=http://www.redbullmusicacademy.jp/features/tokyo&via=rbma_jp&text=世界を旅する音楽学校がついに日本へ。 あなたの創造（クリエイション）の根源にあるものとは?", target="blank")

						
				.button
					a(class="fa fa-facebook", href="https://www.facebook.com/sharer/sharer.php?u=http://www.redbullmusicacademy.jp/features/tokyo", target="blank")
							
				




