//- div(fullscreen-video, vid="{{current.fields.youtubeId}}")



.video-wrapper(ng-show="playing")
	div(class="video")
		youtube-video(id="main-vid", video-id="current.fields.youtubeId", player-vars="playerVars")

.info(ng-show="!playing && !begin")
	h1 {{current.fields.titleName}}
	p {{current.fields.artistText}}
	a(class="navi fa fa-arrow-right", ng-click="nextVideo()")


