
<div du-scroll-container="du-scroll-container" style="background: black" class="frame">
  <header><img ng-src="img/logo.png" class="logo"/>
    <ul>
      <li ng-repeat="quote in body.individualQuote" hover-pic="hover-pic" img="{{quote.fields.artistImage.fields.file.url}}" ng-click="launchVid(quote)" id="{{quote.sys.id}}"><span class="fa fa-caret-right"></span><span class="name">{{quote.fields.titleName}}</span></li>
    </ul>
  </header>
  <div class="image-wrapper">
    <div slide="slide" image="https://images.contentful.com/4xlwm16911zp/2LPsVdCPGowqemG6AGCSue/f4f37b6c02f06ff802fc879114bc154d/rbma-panoram.jpg" class="panoram"></div>
  </div>
  <div ng-show="playing" class="video-wrapper fade">
    <div class="video">
      <youtube-video id="main-vid" video-id="current.fields.youtubeId" player-vars="playerVars"></youtube-video>
    </div>
  </div>
  <div ng-show="showInfo" class="info fade"><span ng-click="closeInfo()" class="fa fa-times"></span>
    <h1>{{titleName}}</h1>
    <p>{{artistText}}</p>
    
  </div>
  <div class="mobile"><img ng-src="img/logo.png" class="logo"/><img ng-src="{{body.bodyImage.fields.file.url}}" class="mobile-title-image"/>
    <h2>{{body.body}}</h2>
    <ul>
      <li ng-repeat="quote in body.individualQuote">
        <h1>{{quote.fields.titleName}}</h1>
        <div lazy="lazy" videoid="{{quote.fields.youtubeId}}" data-parameters="controls=0&amp;modestbranding=1" data-ratio="4:3" class="lazyYT">loading...</div>
        <p>{{quote.fields.artistText}}</p>
      </li>
    </ul>
  </div>
</div>