<!DOCTYPE html>
<html lang="en" ng-app="quotes" class="frame">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0">
    <title>Quote Title Here</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <header><img ng-src="img/logo.png">
      <ul>
        <li ng-click="launchVid()" hover-pic img="quote_hatsunemiku.jpg"><span class="fa fa-caret-right"><span> Hatsune Miku</li>
        <li ng-click="launchVid()" hover-pic img="quote_IsaoTomita.jpg"><span class="fa fa-caret-right"><span> Iaso Tomita</li>
        <li ng-click="launchVid()" hover-pic img="quote_yosi.jpg"><span class="fa fa-caret-right"><span> Yosi Horikawa</li>
        <li ng-click="launchVid()" hover-pic img="quote_YoshihideOtomo.jpg"><span class="fa fa-caret-right"><span> Otomo</li>
        <li ng-click="launchVid()" hover-pic img="quote_RyojiIkeda.jpg"><span class="fa fa-caret-right"><span> Ryoji Ikeda</li>
      </ul>
    </header>
    <div du-scroll-container style="background: url({{body.bodyImage.fields.file.url}})" class="frame">
      <div ng-view>
        <h1>{{body.title}}</h1>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="bower_components/contentful/dist/contentful.min.js"></script>
    <script src="bower_components/ng-contentful/ng-contentful.js"></script>
    <script src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script src="bower_components/showdown/compressed/showdown.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
  </body>
</html>