doctype html
html(lang="en", ng-app="quotes", class="frame")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0")
		title Quote Title Here
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")
		//- prefetch all images if possible
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/684VNJ9bOMMQKaAGiIAsEm/6f38aa722ed7a98cc7971fc3914d6686/shibuya2.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/64qRGpeuhUG2AcwiiOeeui/b408405687ece4edb751a42243eb3342/tomita_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/46vfSeIXmoQoW4mWOcKyUs/30356d4a8284169516f633d20f714cef/miku_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/6z9XBtRGoMCqMQiKwGAcM4/605be8fec8b88771ab62912d01595017/yamaguchi_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/6OBg3Tyyhq4iwswigSWwOw/64b83d8471391545f7ccd4619cfab599/otomo_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/1LSYNps4W8GwIcUsSKO4GC/b407f96ed187f54aa3e4b40c115cebf7/yosi_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/18YbudLJZoiCoCMEg8M6gI/8b77727b99ff148fd16cb78e62d30355/ikeda_lo.jpg")
		
		link(rel="prefetch", href="fonts/GothicMB101Pro-Heavy.ttf")
		link(rel="prefetch", href="fonts/GothicMB101Pro-Heavy.eot")
		link(rel="prefetch", href="fonts/GothicMB101Pro-Heavy.woff")

	body
		
		div(ng-view)


		






		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-sanitize/angular-sanitize.min.js")
		script(src="bower_components/angular-route/angular-route.min.js")
		script(src="bower_components/angular-scroll/angular-scroll.min.js")
		script(src="bower_components/angular-animate/angular-animate.min.js")
		script(src="bower_components/contentful/dist/contentful.min.js")
		script(src="bower_components/ng-contentful/ng-contentful.js")
		script(src="bower_components/showdown/compressed/showdown.js")
		script(src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js")
		script(src="bower_components/showdown/compressed/showdown.js")
		script(src="js/lazy-yt.js")
		script(src="js/app.js")
		script(src="js/controllers.js")
		script(src="js/directives.js")
		script(src="js/services.js")

