doctype html
html(lang="en", ng-app="quotes", class="frame")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0")
		title Quote Title Here
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")
		//- prefetch all images if possible
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/UqNgMAI3S0CSOmyEeKM00/fea96f9ce773b27e643438de45d4e9bc/TV_Old_Man.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/2w7yiG95uk8UY0OK0S0icy/5e65bfb477b0ca07ab9bc31b55698b42/tomita_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/8pS4BMQIWkEyCYeeKOyyA/d0e5028b516412cf96e4a17d3263b167/miku_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/3VKutml2w8mOWegOMcuQaC/8bc72011dafe8df80424ab71ecba961a/yamaguchi_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/bSQxl7jXNYyyyGE0w2eo0/e207dd05ee8cb3c58729e9e11b208959/otomo_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/4iuHJKIa00coIKM6Qe6G8e/72e20d269eca21337a020a00d5543180/yosi_lo.jpg")
		link(rel="prefetch", href="https://images.contentful.com/4xlwm16911zp/EOWbMduDdu8Y2sWYMwMay/df9b47e7469c666c52df8b94d144d080/ikeda_lo.jpg")
		
		link(rel="prefetch", href="fonts/GothicMB101Pro-Heavy.ttf")
		link(rel="prefetch", href="fonts/GothicMB101Pro-Heavy.eot")
		link(rel="prefetch", href="fonts/GothicMB101Pro-Heavy.woff")

	body
		
		div(ng-view)


		






		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-sanitize/angular-sanitize.min.js")
		script(src="bower_components/angular-route/angular-route.min.js")
		script(src="bower_components/angular-scroll/angular-scroll.min.js")
		script(src="bower_components/angular-animate/angular-animate.min.js")
		script(src="bower_components/contentful/dist/contentful.min.js")
		script(src="bower_components/ng-contentful/ng-contentful.js")
		script(src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js")
		script(src="bower_components/showdown/compressed/showdown.js")
		script(src="js/app.js")
		script(src="js/controllers.js")
		script(src="js/directives.js")
		script(src="js/services.js")

